<!--All html files inherit from this file-->
<p>
    <a href="{% url 'workout_logs:index' %}">Workout Log</a> -
    <a href="{% url 'workout_logs:workouts' %}">Workouts</a>
</p>
<!--Show link to log in only if user is not logged in-->
{% if user.is_authenticated %}
    Hello, {{ user.username }}.
  
    <a href="{% url 'users:logout' %}">Log out</a>
   
  {% else %}
  
    <a href="{% url 'users:register' %}">Register</a> -
    
    <a href="{% url 'users:login' %}">Log in</a>

  {% endif %}

<!--Use blocks to allow child files to make their own additions-->
{% block content %}{% endblock content %}