{% extends 'workout_logs/base.html' %}

{% block page_header %}
  <h3>{{ workout }}</h3>
{% endblock page_header %}

{% block content %}

  <p>Workout: {{ workout}}</p>

  <!--A bullet list of entries for each workout category -->
  <p>Entries:</p>

  <!--Provides a link to the new_entry page from each workout page-->
  <p>
    <a href="{% url 'workout_logs:new_entry' workout.id %}">Add new entry</a>
  </p>
  <ul>
  {% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href="{% url 'workout_logs:edit_entry' entry.id %}">
          edit entry</a></small>
    </h4>
    <div class="card-body">
      {{ entry.text|linebreaks }}
    </div>
  </div>
    <!--Show if there are no entries for a workout category-->
  {% empty %}
    
     <p> There are no entries for this workout yet.</p>
    
  {% endfor %}
  </ul>

{% endblock content %}