{% extends "workout_logs/base.html" %}

{% block page_header %}
  <h1>Workouts</h1>
{% endblock page_header %}

{% block content %}

  <p>Workout Categories</p>

  <!--Create a bullet list of workouts (ex: arms, legs)-->
  <ul>
    {% for workout in workouts %}
    <li><h3>
        <a href="{% url 'workout_logs:workout' workout.id %}">{{ workout }}</a>
      </h3></li>
      <!--Show if no workouts were added -->
    {% empty %}
      <li><h3> workouts have been added yet.</h3></li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'workout_logs:new_workout' %}">Add new workout</a></h3>

{% endblock content %}  